.pure-form {
  input:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;

    &:focus {
      border-color: #e9322d
    }
  }

  input {
    &[type=text] {
      padding: .5em .6em;
      display: inline-block;
      border: 1px solid #ccc;
      font-size: .8em;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      -webkit-transition: .3s linear border;
      -moz-transition: .3s linear border;
      -ms-transition: .3s linear border;
      -o-transition: .3s linear border;
      transition: .3s linear border;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:focus {
        outline: 0;
        outline: thin dotted \9
      ;
        border-color: #129FEA;
      }

      &[disabled] {
        cursor: not-allowed;
        background-color: #eaeded;
        color: #cad2d3
      }
    }
  }

  input[readonly] {
    background: #eee;
    color: #777;
    border-color: #ccc
  }

}

button {
  cursor: pointer;
}

.pure-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

.pure-button {
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  padding: .5em;
  color: #444;
  color: rgba(0, 0, 0, .8);
  *color: #444;
  border: 1px solid #999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.pure-button:focus {
  outline: 0
}

.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

#video-container {
  padding-bottom: 5px;
  text-align: center;
  position: relative;

  #my-video {
    width: 150px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #eee;
    border: 2px #eee solid;
    border-right: 0;
    border-top: 0;
  }

  #their-video {
    width: 100%;
    height: auto;
    max-height: 480px;
    background-color: #eee;
  }
}

#my-id {
  font-weight: bold;
}

.media-buttons {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  .modal-inner {
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 10px;

    h3 {
      letter-spacing: 1px;
      margin-top: 0;
    }

    p {
      letter-spacing: 0;

      span {
        display: block;
        font-size: 12px;
        color: #888;
      }
    }

    button {
      margin-left: 5px;
      margin-right: 5px;
      letter-spacing: 0;
    }
  }
}

button.fullscreen {
  width: 16px;
  height: 16px;
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 5px;
  bottom: 12px;

  & > img {
    width: 100%;
    height: 100%;
    filter: invert(0);
    transition: 0.5s;

    &img:hover {
      filter: invert(1);
    }
  }
}

#video-container.fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 0;

  #their-video {
    max-height: 100%;
  }
}

.l-wrapper .b-contacts-list {
  top: 255px;
}

.b-my-profile {
  height: 222px;
}

.displayNone {
  display: none;
}